<!-- Dashboard Navbar -->
<md-sidenav class="sas-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-content class="md-padding">
        <md-list>
            <md-item>
                <md-button class="md-button">Menu Item 1</md-button>
            </md-item>
            <md-item>
                <md-button class="md-button">Menu Item 2</md-button>
            </md-item>
            <md-item>
                <md-button class="md-button">Menu Item 3</md-button>
            </md-item>
        </md-list>
    </md-content>
</md-sidenav>
<!-- Application Content *sub view of dashboard state* -->
<md-content flex class="sas-content md-padding">
    <h2>Content Goes Here</h2>
</md-content>